.operation {
    margin:0;
    padding-top:25px;
    padding-bottom: 15px;
    background-color: map-get($bg-color,bg-white);
    @include card(card);
    &__container {
      width:90%;
      margin: auto;
      @include media-q(desktop) {
        width:80%;
      }
    }
    &__heading {
      @include media-q(desktop) {
        margin-left: 0px;
       }
    }
    &__cards {
        @include flex(flex,null,null,column);
        gap:20px;
        padding-bottom: 50px;
        @include media-q(medium-devices) {
          @include flex(flex,center,null,row);
          height:53px; 
        }
        @include media-q(desktop){
          @include flex(flex,null,null,row);
          gap:20px;
        }
      }
    &__card {
      transition-duration: 300ms;
      &:hover .operation__card-title {
        color:$color-dark-grey;
      }
      &:hover .operation__dot {
        background-color:$dot-color-hover;
      }
    }
    &__icon {
        color:$icon-color;
        width:30px;
        margin-bottom: 2px;
        padding-left: 30px;
        @include media-q(medium-devices){
          margin-bottom: 0;
        }
      }
    &__dot {
        border-radius: 10px;
        width:20px;
        height: 20px;
        background-color:$dot-color;
        color:white;
        position:absolute;
        left:-10px;
        text-align: center;
        line-height: 20px;
        @include media-q(medium-devices){        
          line-height: 16px;
          width:17px;
          height: 17px;
        }
        }
  }