.operation {
    margin:0;
    padding-top:25px;
    padding-bottom: 15px;
    background-color: map-get($bg-color,bg-white);
    &__container {
      width:90%;
      margin: auto;
      @include media-q(desktop) {
        width:80%;
      }
    }
    &__heading {
      @include media-q(desktop) {
        margin-left: 0px;
       }
    }
    &__cards {
        @include flex(flex,null,null,column);
        gap:20px;
        padding-bottom: 50px;
        @include media-q(medium-devices) {
          @include flex(flex,null,null,row);
          height:53px; 
        }
        @include media-q(desktop){
          @include flex(flex,null,null,row);
          gap:20px;
        }
      }
    &__card {
      background-color: map-get($bg-color,bg-light-grey);
      border-radius: 20px;
      width: 85%;
      height:65px;
      white-space: nowrap;
      padding-left: 30px;
      filter: drop-shadow(0px 4px 4px $sh-white);
      @include flex(flex,null,center,row);
      @include media-q(medium-devices) {
        height:53px;
        width: 190px;
      }
      @include media-q(desktop) {
        height:53px;
        width: 218px;
      }
      &:hover {
        background-color: lighten(map-get($bg-color,bg-light-grey),0.5%);
        filter: drop-shadow(0px 4px 4px darken($sh-light-grey, 20%) );
        & .operation__icon {
          color:$primary-color;
        }
      }
    }
    &__card-title, &__icon {
      color:black;
      &:hover {
        color:$color-dark-grey;
      }
     }
    &__icon {
        color:$icon-color;
        width:30px;
        margin-bottom: 2px;
        @include media-q(medium-devices){
          margin-bottom: 0;
        }
      }
    &__dot {
        border-radius: 10px;
        width:20px;
        height: 20px;
        background-color:$dot-color;
        color:white;
        position:absolute;
        left:-10px;
        text-align: center;
        line-height: 20px;
        @include media-q(medium-devices){        
          line-height: 16px;
          width:17px;
          height: 17px;
        }
        }
  }