footer {
    @include padding(auto,auto,24px,20px);
    background-color: $bg-dark-grey;
  
    .footer_heading {
      margin:0;
      @include padding(15px,auto,10px,0);
      color: #ffffff;
    }
    .links-container {
      @include flex(flex,null,null,column);
      gap:10px;
    }
    .footer_links p {
      margin:0;
    }
    .footer_links {
      font-size: 1em;
      font-weight: 400;
      display:flex;
      flex-direction: row;
    
    }
    .footer_icons {
      line-height: 20px;
      width: 21px;
      height:21px;
    }
  }