.header {
    text-align: center;

    &__logo-container {
        width:100%;
        height:50px;
        background-color: $bg-white;
        filter: drop-shadow(0px 4px 2px rgb(194, 194, 194));
        @include flex(flex,center,null,null);
        position: relative;
      }
    &__logo {
        height:25px;
        object-fit: contain;
        position:absolute;
        bottom:10px;
      }
    &__location {
        background-color: $bg-grey;
        height:50px;
        @include flex(flex,center,center,row);
        color:$typo-tertry-color;
      }
    &__location-icon {
        padding-right: 10px;
      }
    &__location-text {
      line-height: 50px;
      }
    &__nav {
      padding-bottom: 50px;
      background-color:$bg-light-grey;
      @include media-q (medium-devices) {
        padding-bottom:30px;
      }
      }
    &__nav-heading {
        margin-top:0;
        padding-top:15px;
        & br {
          @include media-q (medium-devices) 
            { display:none;}
          }
        }
    &__nav-button{
      margin:auto;
      background: $gradient;
      border-radius: 20px;
      width:200px;
      height:45px;
      @include flex(flex,center,center,null);
      filter: drop-shadow(0px 4px 5px #b1b1b1);
      @include media-q (desktop) {
        height: 39px;
      }
      }
    &__nav-text {
      color:rgb(146, 146, 146);
      & br {
        @include media-q (medium-devices)
        {display: none;}
      }
      }
  }



 
  


  

  
