.header {
    &__logo-container {
        width:100%;
        height:50px;
        background-color: map-get($bg-color,bg-white);
        @include flex(flex,null,center,row);
        filter: drop-shadow(0px 4px 4px $sh-white);
        justify-content: center;
      }
      &__logo {
        @include flex(flex,center,null,null);
        height:25px;
        object-fit: contain;
      }
    &__location {
        background-color: map-get($bg-color,bg-grey);
        height:50px;
        @include flex(flex,center,center,row);
        color:$typo-tertry-color;
      }
    &__location-icon {
        padding-right: 10px;
      }
    &__location-text {
      line-height: 50px;
      }
    &__nav {
      text-align: center;
      padding-bottom: 50px;
      background-color: map-get($bg-color,bg-light-grey);
      @include media-q (medium-devices) {
        padding-bottom:30px;
      }
      }
    &__nav-heading {
        margin-top:0;
        padding-top:15px;
        & br {
          @include media-q (medium-devices) 
            { display:none;}
          }
        }

    &__nav-text {
      color:rgb(146, 146, 146);
      & br {
        @include media-q (medium-devices)
        {display: none;}
      }
      }
    &__image {
      width: 100%;
      height: 317px;
      object-fit:cover;
    }
  }




 
  


  

  
