
.main-loader {
    position: fixed;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    width:100%;
    background-color: rgb(238, 238, 238);
    inset:0;
    z-index: 3;
    animation: main-loading $main-loader-duration forwards;
    &__bg {
        position:absolute;
        top:15%;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 250px;
        height: 350px;
        background-color: map-get($bg-color,bg-light-grey );
        @include media-q(medium-devices) {
            top:30%;
        }
        @include media-q(desktop) {
            top:20%;
        }
    }
    &__heading {
        border-radius: 5px;
        width: 80px;
        height: 20px;
        background-color: $primary-color;
        margin: auto;
        margin-top:30px;
        animation-delay: 200ms;
        }
    &__bars{
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 0.5em;
        margin-bottom:30px;
        @for $i from 1 through 3 {
            &--#{$i} {
                animation-delay: 100ms * $i;
            }
         }
    }
    &__bar {
        border-radius: 5px;
        width: 150px;
        height: 10px;
        background-color: $secondary-color;
    }
    &__footer {
        border-radius: 5px;
        width: 150px;
        height: 20px;
        background-color: $tertiary-color;
        margin-bottom: 20px;
        animation-delay: 600ms;
        }
    }
    .main-loader__heading,.main-loader__bars,.main-loader__footer {
    @extend .elements-loader-anim;
    }


  
  