

.menu {
    background-color: map-get($bg-color,bg-grey);
    -webkit-clip-path: inset(0 0 0 0 round 4% 4% 0 0);
    padding-top: 2px;
    padding-bottom: 30px;
    margin-top: -30px;
    position: relative;
    width: auto;
    @include media-q(medium-devices) {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    &__arrow {
        position: absolute;
        color:black;
        left:20px;
        &:hover {
            color:$color-dark-grey;
        }
    }
    &__container {
        width:90%;
        margin: auto;
        @include media-q(medium-devices) {
            width:70%;
        }
    }
    &__dishes {
        animation: menu-load $menu-load-duration;
        transform-origin: 0 0;
        @for $i from 1 through $num-menus {
            &--#{$i} {
                animation-delay: $menu-load-delay * $i;
            }
        }
    }
    & h2, .menu__card-text, .menu__price, .menu__slide {
        @extend .reveal-text ;
    }

    &__cards {
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        height: auto;
    }
    &__card {
        border-radius: 10px;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        @include media-q(medium-devices) {
            width: 100%;
        }
        &:hover > .menu__slide{
                width:50px;
            }
    }
    
    &__heading {
        text-align: center;
    }
    & h2 {
        border-bottom: 2px solid $tertiary-color;
        width:40px;
    }
    & h3, p {
        margin: 0;
    }
    &__card-text {
        padding-left: 10px;
        flex-grow: 1;
        width: 200px;
        transition: all 400ms;
        @include flex(flex,null,null,column);   
      }
    &__card-heading, &__card-paragraph {
        overflow: hidden;
        text-overflow: ellipsis; 
        white-space: nowrap;
    }
    &__price {
        padding-top: 19px;
        padding-right: 5px;
        transform: translateX(0);
        transition: transform 400ms ease-in-out;
    }
    &__slide {
        display: flex;
        margin:auto;
        height:100%;
        width: 0;
        background-color: $tertiary-color;
        background-clip: border-box;
        transform-origin: 0 0 ;
        transition: 400ms ease-in-out;
        position: relative;
    }

    &__circle, .menu__check {
        margin: auto;
        color:white;
        position: absolute;
        top: 41%;
        left: 35%;
        + .menu__check {
        transform: scale(0.8);
        color: $tertiary-color;
        z-index: 1;
     }
    }

    &__heart-icon-border,&__heart-icon-solid {
        color:rgb(0, 0, 0);
        padding-left: 10px;
        z-index: 2;
        position: absolute;
        transform: scale(0.9);
        line-height: 31px;
        &.menu__heart-icon-solid{
            z-index: 1;
            background: $gradient;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            background-repeat: no-repeat;
            transform: scale(0);
            transition: transform 200ms ease-in-out;
            transform-origin: 20px 15px;
        }
        &:hover + .menu__heart-icon-solid{
            background: $gradient;
            background-clip: text;
            -webkit-text-fill-color: transparent;       
            transform: scale(0.9) ;
            }
    }
      &__heart-icon-border {
        opacity:1;
        transition-duration: 300ms;
        &:hover {
          opacity:0;
        }
      }
  }


  