h1 {
  font-size:1.4em;
  padding-top: 20px;
}

h2 {
  padding-left: 20px;
  font-size:1.35em;
}

h3 {
  font-size: 1em;
  margin:0;
 }

 body {
  font-family: 'Roboto', sans-serif;
 }
 a {
  text-decoration: none;
}

.footer_heading {
  font-family: 'Shrikhand', cursive;
}