@import "../utils/mixins";

body {
 font-family: 'Roboto', sans-serif;
  a {
   font-style:normal;
  }
}

.header{
  &__nav-heading {
    font-size: 1.4em;
    padding-top: 20px;
    @include media-q(desktop) {
    font-size: 1.7em;
     margin-bottom: 10px;
   }
   }
  &__location-text, &__location-icon {
    font-size:1em;
    @include media-q(desktop) {
      font-size: 0.8em;
    }
   }
  &__nav-text {
    font-size: 1em;
    @include media-q(desktop){
      font-size:0.8em;
      margin-bottom: 15px;
    }
  }
  &__nav-button a {
    font-size: 0.9em;
   }
}


.operation {
  &__heading {
    font-size: 1.4em;
    @include media-q(desktop){
      font-size: 1em;}
  }
  &__card-title {
   font-size: 0.9em;
   @include media-q(desktop) {
    font-size: 0.7em;
   }
  }
  &__icon {
    font-size: 1em;
  }
  &__dot {
    font-size: 0.8em;
  }
  
}

.restaurants {
  &__heading {
    font-size:1.4em;
    @include media-q(desktop) {
      font-size: 1em;
     }
  }
  &__card-heading {
    font-size: 1em;
    @include media-q(desktop) {
      font-size: 0.9em;
     }
  }
  &__card-heading::first-letter {
    text-transform: capitalize;
  }
  &__card-paragraph {
    font-weight:300;
    font-size:1em;
    @include media-q(desktop) {
      font-size: 0.9em;
     }
  }
  &__heart-icon-border, &__heart-icon-solid {
    font-size: 1.35em;
    
  }
  &__label-new {
    font-size: 0.75em;
    font-weight: 700;
  }
  
}

.footer {
  &__heading {
  font-family: 'Shrikhand', cursive;
  font-size: 1.1em;
  font-weight: 100;
  @include media-q(desktop) {
    font-size: 0.8em;
    }
    }
  &__nav_heading {
    font-weight: 700;
  }
  &__nav_text {
    font-size: 1em;
    font-weight: 300;
  }
  &__links {
    font-size: 0.9em;
    font-weight: 400;
    @include media-q(desktop) {
      font-size: 0.8em;
      }
  }
  &__icons {
    font-size: 0.7em;
    @include media-q(desktop) {
      font-size: 0.7em;
      }
  }
}








