@keyframes menu-load {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
@keyframes text-load {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.reveal-text, .menu h2, .menu .menu__card-text, .menu .menu__price, .menu .menu__slide {
  animation: text-load 1s 1.3s both;
}

body {
  font-family: "Roboto", sans-serif;
}
body a {
  font-style: normal;
}

.header__nav-heading {
  font-size: 1.4em;
  padding-top: 20px;
}
@media (min-width: 767px) {
  .header__nav-heading {
    font-size: 1.7em;
    margin-bottom: 10px;
  }
}
.header__location-text, .header__location-icon {
  font-size: 1em;
}
@media (min-width: 767px) {
  .header__location-text, .header__location-icon {
    font-size: 0.8em;
  }
}
.header__nav-text {
  font-size: 1em;
}
@media (min-width: 767px) {
  .header__nav-text {
    font-size: 0.8em;
    margin-bottom: 15px;
  }
}
.header__nav-button a {
  font-size: 0.9em;
}

.operation__heading {
  font-size: 1.4em;
}
@media (min-width: 767px) {
  .operation__heading {
    font-size: 1em;
  }
}
.operation__card-title, .operation__icon {
  font-size: 0.9em;
}
@media (min-width: 767px) {
  .operation__card-title, .operation__icon {
    font-size: 0.8em;
  }
}
.operation__dot {
  font-size: 0.8em;
}
@media (min-width: 767px) {
  .operation__dot {
    font-size: 0.7em;
  }
}

.restaurants__heading {
  font-size: 1.4em;
}
@media (min-width: 767px) {
  .restaurants__heading {
    font-size: 1em;
  }
}
.restaurants__card-heading {
  font-size: 1em;
}
@media (min-width: 767px) {
  .restaurants__card-heading {
    font-size: 0.9em;
  }
}
.restaurants__card-heading::first-letter {
  text-transform: capitalize;
}
.restaurants__card-paragraph {
  font-weight: 300;
  font-size: 1em;
}
@media (min-width: 767px) {
  .restaurants__card-paragraph {
    font-size: 0.9em;
  }
}
.restaurants__heart-icon-border, .restaurants__heart-icon-solid {
  font-size: 1.35em;
}
.restaurants__label-new {
  font-size: 0.75em;
  font-weight: 700;
}

.footer__heading {
  font-family: "Shrikhand", cursive;
  font-size: 1.1em;
  font-weight: 100;
}
@media (min-width: 767px) {
  .footer__heading {
    font-size: 0.8em;
  }
}
.footer__nav_heading {
  font-weight: 700;
}
.footer__nav_text {
  font-size: 1em;
  font-weight: 300;
}
.footer__links {
  font-size: 0.9em;
  font-weight: 400;
}
@media (min-width: 767px) {
  .footer__links {
    font-size: 0.8em;
  }
}
.footer__icons {
  font-size: 0.7em;
}
@media (min-width: 767px) {
  .footer__icons {
    font-size: 0.7em;
  }
}

.menu__heading {
  font-family: "Shrikhand", cursive;
  font-size: 1.35em;
}
.menu h2 {
  font-family: "Roboto", sans-serif;
  font-size: 0.85em;
  font-weight: 400;
  text-transform: uppercase;
}
.menu h3 {
  font-size: 0.95em;
}
.menu__card-paragraph {
  font-size: 0.79em;
}
.menu__price {
  font-size: 0.9em;
  font-weight: 500;
}

@keyframes menu-load {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
@keyframes text-load {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.reveal-text, .menu h2, .menu .menu__card-text, .menu .menu__price, .menu .menu__slide {
  animation: text-load 1s 1.3s both;
}

.menu__cta-button, .header__cta-button {
  margin: auto;
  border-radius: 20px;
  width: 200px;
  height: 45px;
  background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0px 4px 4px #c2c2c2);
}
.menu__cta-button:hover, .header__cta-button:hover {
  filter: drop-shadow(0px 4px 4px #8f8f8f);
  background: linear-gradient(0deg, #a16be0 0%, #ff93e1 100%);
}
@media (min-width: 1023px) {
  .menu__cta-button, .header__cta-button {
    height: 39px;
  }
}

.menu__card, .operation__card {
  background-color: #F6F6F6;
  border-radius: 20px;
  width: 100%;
  height: 65px;
  white-space: nowrap;
  filter: drop-shadow(0px 4px 4px #ccc);
  display: flex;
  align-items: center;
  flex-direction: row;
}
@media (min-width: 767px) {
  .menu__card, .operation__card {
    width: 30%;
  }
}
@media (min-width: 1023px) {
  .menu__card, .operation__card {
    width: 250px;
  }
}
.menu__card:hover, .operation__card:hover {
  background-color: #f7f7f7;
  filter: drop-shadow(0px 4px 4px #8f8f8f);
}
.menu__card:hover .operation__icon, .operation__card:hover .operation__icon {
  color: #9356DC;
}

.header__logo-container {
  width: 100%;
  height: 50px;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: row;
  filter: drop-shadow(0px 4px 4px #ccc);
  justify-content: center;
}
.header__logo {
  display: flex;
  justify-content: center;
  height: 25px;
  object-fit: contain;
}
.header__location {
  background-color: #EAEAEA;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: #353535;
}
.header__location-icon {
  padding-right: 10px;
}
.header__location-text {
  line-height: 50px;
}
.header__nav {
  text-align: center;
  padding-bottom: 50px;
  background-color: #F6F6F6;
}
@media (min-width: 767px) {
  .header__nav {
    padding-bottom: 30px;
  }
}
.header__nav-heading {
  margin-top: 0;
  padding-top: 15px;
}
@media (min-width: 767px) {
  .header__nav-heading br {
    display: none;
  }
}
.header__nav-text {
  color: rgb(146, 146, 146);
}
@media (min-width: 767px) {
  .header__nav-text br {
    display: none;
  }
}
.header__image {
  width: 100%;
  height: 317px;
  object-fit: cover;
}

body {
  margin: 0;
}
body a {
  text-decoration: none;
  color: white;
}
body .main-container {
  min-width: 320px;
  max-width: 1024px;
}
@media (min-width: 1024px) {
  body .main-container {
    margin: auto;
  }
}

.operation {
  margin: 0;
  padding-top: 25px;
  padding-bottom: 15px;
  background-color: white;
}
.operation__card {
  background-color: #F6F6F6;
  border-radius: 20px;
  width: 100%;
  height: 65px;
  white-space: nowrap;
  filter: drop-shadow(0px 4px 4px #ccc);
  display: flex;
  align-items: center;
  flex-direction: row;
}
@media (min-width: 767px) {
  .operation__card {
    width: 30%;
  }
}
@media (min-width: 1023px) {
  .operation__card {
    width: 250px;
  }
}
.operation__card:hover {
  background-color: #f7f7f7;
  filter: drop-shadow(0px 4px 4px #8f8f8f);
}
.operation__card:hover .operation__icon {
  color: #9356DC;
}
.operation__container {
  width: 90%;
  margin: auto;
}
@media (min-width: 1023px) {
  .operation__container {
    width: 80%;
  }
}
@media (min-width: 1023px) {
  .operation__heading {
    margin-left: 0px;
  }
}
.operation__cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 50px;
}
@media (min-width: 767px) {
  .operation__cards {
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 53px;
  }
}
@media (min-width: 1023px) {
  .operation__cards {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
}
.operation__card:hover .operation__card-title {
  color: rgb(86, 86, 86);
}
.operation__card:hover .operation__dot {
  background-color: #be9aea;
}
.operation__icon {
  color: #999999;
  width: 30px;
  margin-bottom: 2px;
  padding-left: 30px;
}
@media (min-width: 767px) {
  .operation__icon {
    margin-bottom: 0;
  }
}
.operation__dot {
  border-radius: 10px;
  width: 20px;
  height: 20px;
  background-color: #9356DC;
  color: white;
  position: absolute;
  left: -10px;
  text-align: center;
  line-height: 20px;
}
@media (min-width: 767px) {
  .operation__dot {
    line-height: 16px;
    width: 17px;
    height: 17px;
  }
}

.restaurants {
  background-color: #F6F6F6;
  padding-top: 25px;
  color: black;
}
.restaurants__container {
  width: 90%;
  margin: auto;
}
@media (min-width: 1023px) {
  .restaurants__container {
    width: 80%;
  }
}
.restaurants__cards {
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  gap: 19px;
}
@media (min-width: 767px) {
  .restaurants__cards {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.restaurants__card-heading {
  margin: 0;
  padding-top: 10px;
}
.restaurants__card {
  background-color: white;
  border-radius: 20px;
  position: relative;
  width: 100%;
}
.restaurants__card:hover .restaurants__label-new {
  background-color: #ade8d9;
  box-shadow: 0px 2px 2px #858585;
  color: #00a179;
}
.restaurants__card:hover:hover .restaurants__card-thumb {
  opacity: 80%;
}
@media (min-width: 767px) {
  .restaurants__card {
    width: 288px;
  }
}
@media (min-width: 1023px) {
  .restaurants__card {
    width: 400px;
  }
}
.restaurants a:hover {
  box-shadow: 0px 4px 4px #8f8f8f;
}
.restaurants__card-thumb {
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 145px;
  object-fit: cover;
  object-position: 50% 65%;
}
.restaurants__card-content {
  display: flex;
  flex-direction: row;
  position: relative;
  color: black;
}
.restaurants__card-text {
  flex-direction: column;
  width: 80%;
  padding-left: 15px;
  gap: 2px;
}
.restaurants__section-title::first-letter {
  margin-bottom: 0px;
  padding-top: 15px;
}
.restaurants__card-paragraph {
  margin-top: 0;
}
@media (min-width: 1023px) {
  .restaurants__card-paragraph {
    margin-bottom: 10px;
  }
}
.restaurants__label-new {
  background-color: #99E2D0;
  width: 69px;
  height: 25px;
  border-radius: 2px;
  position: absolute;
  top: 10px;
  right: 10px;
  color: #008766;
  display: table-cell;
  text-align: center;
  line-height: 26px;
  box-shadow: 0px 2px 2px #b8b8b8;
}
.restaurants__heart-icon-border, .restaurants__heart-icon-solid {
  color: rgb(0, 0, 0);
  top: 10px;
  z-index: 2;
  position: absolute;
  right: 10px;
}
.restaurants__heart-icon-border.restaurants__heart-icon-solid, .restaurants__heart-icon-solid.restaurants__heart-icon-solid {
  z-index: 1;
  background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  transform: scale(0);
  transition: transform 200ms ease-in-out;
}
.restaurants__heart-icon-border:hover + .restaurants__heart-icon-solid, .restaurants__heart-icon-solid:hover + .restaurants__heart-icon-solid {
  background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(1);
}

.footer {
  display: flex;
  flex-direction: column;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 24px;
  padding-left: 20px;
  background-color: #353535;
}
@media (min-width: 767px) {
  .footer {
    align-content: flex-end;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row-reverse;
    height: 70px;
    flex-wrap: wrap;
    gap: 15px;
  }
}
.footer__heading {
  margin: 0;
  padding-top: 15px;
  padding-right: 0;
  padding-bottom: 10px;
  padding-left: 0;
  color: #ffffff;
}
@media (min-width: 767px) {
  .footer__heading {
    margin-left: 10px;
    margin-right: 40px;
    margin-bottom: 10px;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
  }
}
.footer__links-container {
  gap: 10px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 767px) {
  .footer__links-container {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
}
.footer__links p, .footer__links-iconless a {
  margin: 0;
  margin-right: 5px;
  margin-bottom: 10px;
}
@media (min-width: 767px) {
  .footer__links p, .footer__links-iconless a {
    margin-bottom: 10px;
  }
}
.footer__links {
  display: flex;
  flex-direction: row;
}
@media (min-width: 767px) {
  .footer__links {
    margin: 0;
    flex-direction: row;
  }
}
.footer__links:hover {
  text-decoration: underline;
}
.footer__links-icon, .footer__links-iconless {
  display: flex;
  flex-direction: column;
}
@media (min-width: 767px) {
  .footer__links-icon, .footer__links-iconless {
    gap: 10px;
    flex-direction: row;
    margin-right: 5px;
  }
}
.footer__links-iconless {
  margin-top: -10px;
}
@media (min-width: 767px) {
  .footer__links-iconless {
    margin-top: 0px;
  }
}
.footer__icons {
  line-height: 17px;
  width: 16px;
}
@media (min-width: 767px) {
  .footer__icons {
    line-height: 18px;
  }
}

.menu {
  background-color: #EAEAEA;
  -webkit-clip-path: inset(0 0 0 0 round 4% 4% 0 0);
  padding-top: 2px;
  padding-bottom: 30px;
  margin-top: -30px;
  position: relative;
  width: auto;
}
@media (min-width: 767px) {
  .menu {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
.menu__arrow {
  position: absolute;
  color: black;
  left: 20px;
}
.menu__arrow:hover {
  color: rgb(86, 86, 86);
}
.menu__container {
  width: 90%;
  margin: auto;
}
@media (min-width: 767px) {
  .menu__container {
    width: 70%;
  }
}
.menu__dishes {
  animation: menu-load 600ms;
  transform-origin: 0 0;
}
.menu__dishes--1 {
  animation-delay: 200ms;
}
.menu__dishes--2 {
  animation-delay: 400ms;
}
.menu__dishes--3 {
  animation-delay: 600ms;
}
.menu__cards {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: auto;
}
.menu__card {
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}
@media (min-width: 767px) {
  .menu__card {
    width: 100%;
  }
}
.menu__card:hover > .menu__slide {
  width: 50px;
}
.menu__heading {
  text-align: center;
}
.menu h2 {
  border-bottom: 2px solid #99E2D0;
  width: 40px;
}
.menu h3, .menu p {
  margin: 0;
}
.menu__card-text {
  padding-left: 10px;
  flex-grow: 1;
  width: 200px;
  transition: all 400ms;
  display: flex;
  flex-direction: column;
}
.menu__card-heading, .menu__card-paragraph {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu__price {
  padding-top: 19px;
  padding-right: 5px;
  transform: translateX(0);
  transition: transform 400ms ease-in-out;
}
.menu__slide {
  display: flex;
  margin: auto;
  height: 100%;
  width: 0;
  background-color: #99E2D0;
  background-clip: border-box;
  transform-origin: 0 0;
  transition: 400ms ease-in-out;
  position: relative;
}
.menu__circle, .menu .menu__check {
  margin: auto;
  color: white;
  position: absolute;
  top: 41%;
  left: 35%;
}
.menu__circle + .menu__check, .menu .menu__check + .menu__check {
  transform: scale(0.8);
  color: #99E2D0;
  z-index: 1;
}
.menu__heart-icon-border, .menu__heart-icon-solid {
  color: rgb(0, 0, 0);
  padding-left: 10px;
  z-index: 2;
  position: absolute;
  transform: scale(0.9);
  line-height: 31px;
}
.menu__heart-icon-border.menu__heart-icon-solid, .menu__heart-icon-solid.menu__heart-icon-solid {
  z-index: 1;
  background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  transform: scale(0);
  transition: transform 200ms ease-in-out;
  transform-origin: 20px 15px;
}
.menu__heart-icon-border:hover + .menu__heart-icon-solid, .menu__heart-icon-solid:hover + .menu__heart-icon-solid {
  background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(1);
}

/*# sourceMappingURL=style.css.map */
