@mixin flex($disp:flex,$j-c:center,$a-i:center,$f-d:row) {
    display:$disp;
    justify-content: $j-c;
    align-items: $a-i;
    flex-direction:$f-d;
  }

@mixin padding($pt:auto,$pr:auto,$pb:auto,$pl:auto) {
    padding-top: $pt;
    padding-right: $pr;
    padding-bottom: $pb;
    padding-left: $pl;
}

@mixin media-q($size) {
  @if $size == medium-devices {
    @media (min-width: 768px) { @content; } 
  } @else if $size == desktop {
    @media (min-width:1024px) { @content;}
  }
}