    // **background colors**

$bg-color: (
    bg-white:white,
    bg-light-grey: #F6F6F6,
    bg-grey :#EAEAEA,
    bg-dark-grey: #353535
);
    // **shadow-color**

$sh-white: #ccc;
$sh-light-grey: #c2c2c2;
$sh-grey : #b8b8b8;



    // **components colors**

$dot-color:#9356DC;
$dot-color-hover:#be9aea;

$icon-color:#999999;

$color-dark-grey: rgb(86, 86, 86);

    // **text colors **

$typo-main-color: black;
$typo-secdry-color: white;
$typo-tertry-color:#353535;
$typo-quatry-color: #008766;

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;

$gradient-prim-color: #E872DA;
$gradient-sec-color: #A55DDC;
$gradient:linear-gradient(0deg, $primary-color  0%, $secondary-color 100%);

    // ** shadows colors**
 $shadow: rgb(214, 214, 214);

     // **  categories**

// $butt-categories:(menu,header);



// restaurants menu animations;




